@font-face {
  src: url('Dana2_VariableGX.ttf');
  font-family:'Dana';
  font-style: normal;
}

div#testbox {
  font-family: "Dana"; line-height: 1.5em;
  font-size: 34px;
  width: 420px; border:2px solid #666; padding:5px;
}

