@font-face {
  font-family: "XNassimGX";
  src: url("./XNassimGX.ttf")
}

@font-face {
  font-family: "NNU-VF";
  src: url("./NotoNastaliqUrdu-VF.ttf")
}



div#testbox, div#testbox2 {
  font-family: "NNU-VF"; line-height: 1.5em;
  font-size: 34px;
  width: 420px;
}

div#testbox2 {
  font-feature-settings: "swsh";
}

.swash {
  font-feature-settings: "swsh";
}
