@font-face {
  font-family: "Estedad-VF";
  src: url("./Estedad-VF.woff2")
}


div#testbox {
  font-family: "Estedad-VF"; line-height: 1.5em;
  font-size: 34px;
  width: 420px; border:2px solid #666; padding:5px;
}

