@font-face {
  src: url('EncodeSans-VF.ttf');
  font-family:'Encode Sans';
  font-style: normal;
}

   @font-face {
            src: url('Fit-VF.woff2') format("woff2"),
                 url('Fit-VF.woff') format("woff");
            font-family: 'Fit';
            font-style: normal;
            font-weight: normal;
            font-stretch: 10% 1000%;
            }

.controls {
  float:right; width:350px; display:block;
  line-height: 1.5em;
  font-family: sans-serif;
  background-color: #dfdfdf;
  padding: 15px;
}
small { color: #333; }

span.glue { display: inline-block }
div.nowrap { white-space: nowrap }
div#testbox {
  font-family: "Encode Sans", "Skia"; line-height: 1.2em;
  font-size: 24px;
  width: 420px; border:2px solid #666; padding:5px;
}

label { display: inline-block; width: 170px; }