@font-face {
  src: url('EncodeSans-VF.ttf');
  font-family:'Encode Sans';
  font-style: normal;
}

   @font-face {
            src: url('Fit-VF.woff2') format("woff2"),
                 url('Fit-VF.woff') format("woff");
            font-family: 'Fit';
            font-style: normal;
            font-weight: normal;
            font-stretch: 10% 1000%;
            }

span.glue { display: inline-block }
div.nowrap { white-space: nowrap }
div#leftcol {
  font-family: "Encode Sans", "Skia"; line-height: 1.4em;
  font-size: 24px;
  flex:50%; border:2px solid #666; padding:5px;
  max-width: 50%;
  line-height: 2em;

}

#flexwrapper { display: flex; max-width: 80%; margin:auto }
div#rightcol {
  font-family: "Encode Sans", "Skia"; line-height: 1.4em;
  font-size: 24px;
  flex:50%; border:2px solid #666; padding:5px;
  line-height: 2em;
  max-width: 50%;
}

